# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://buqwybttleelsakiynli.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1cXd5YnR0bGVlbHNha2l5bmxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4MTM5NTAsImV4cCI6MjA3NDM4OTk1MH0.pS3f5qwE0EBqvlyKVR2ra6gu3Sco2rGMHjdwUzC6NFQ
